<% if (!user) { %>
	<img src="logo.png" class="img-thumbnail"/>
	<br>
	<h3>ชวนวิ่งสะสมระยะ Ranger 5 ทีม</h3>
	<h3>ระยะเวลา 2 เดือน (5/11/19 - 10/01/20)</h3>
	<br>
	<h4>Log in เพื่อเข้าร่วมเก็บระยะวิ่งด้วย Strava</h4>
	<a href="login" class="btn btn-lg btn-secondary">Login</a>
<% } else { %>
	<img src="<%= stravaProfile.photos[0].value %>" class="img-thumbnail">
	<br>
	<h2><%= user.firstName %> <%= user.lastName %></h2>

	<% if (user.foundation) { %>
		<h4>ลงทะเบียน Ranger Challenge สำเร็จแล้ว</h4>
	<% } else { %>
		<h4>ไปที่ Profile เพื่อกรอกข้อมูลเพิ่มเติมก่อนเริ่มสะสมระยะ</h4>
	<% } %>
<% } %>
